*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    margin: 10px 0;
    text-align: center;
    color: #333;

}

.info{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}
.info h1{
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.info p{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.info #logo{
    display: block;
    margin: 10px 20px ;
    padding: 10px;
    width: 100px;
    border-radius: 50%;
}

.actions{
    margin-top: 20px;
    text-align: center;
    background-color:#f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}
.actions button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.actions button:hover{
    background-color: #0056b3;
}