*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    background-image: url( );
}
h1 {
    text-align: right ;
    margin: 20px 300PX;
    margin-bottom: 20px;
    padding: 30px 0px 0px 0px;
}

form {
    max-width: 600px;
    margin:auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 700px;
    margin-right: 90px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #eb6a6a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c0392b;
}

.working-hours {
    margin-bottom: 200px;
    text-align: center;
}

.social-media {
    
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    margin-top: 20px;
}

/* ==================================== NAVBAR (Header/Navigation) ==================================== */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #eb6a6a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.content-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 
}

.logo h1 {
    color: white;
    font-family: 'Times New Roman', serif; 
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;  
    margin-top: -10px;  
}

/* ==================================== USER DROPDOWN ==================================== */

.user-menu-wrapper {
    position: relative;
    display: flex; 
    align-items: center;
    margin-right: 20px;
}
#info {
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: transform 0.3s ease-in-out;
}
#info:hover {
    transform: scale(.90);
}
.dropdown-content {
    display: none; 
    position: absolute;
    right: 0; 
    top: 55px; 
    background-color: #ffffff;
    min-width: 140px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
}

.show {
    display: block;
}

