body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
}


#loginform{
    padding: 20px;
    margin: 100px auto;
    width: 500px;
    height: 600px;
    border-radius:0 10px 10px 0px;
    background: rgb(76, 6, 6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    
}

#username{

    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid rgb(2, 2, 2);
    margin: 20px;
    padding: 10px;
    color: goldenrod;
    background: rgb(76, 6, 6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#password{
    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    border: 10px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background: rgb(76, 6, 6);
    
}




button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    display: flex;
    justify-self: center;    
    align-items: center;
    text-align: center;

}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.2);
}


