*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* ==================================== NAVBAR (Header/Navigation) ==================================== */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #eb6a6a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content-area {
    display: flex;
    justify-content: center;
    margin-top: 80px; 
}


.logo h1 {
    color: white;
    font-family: 'Times New Roman', serif; 
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;  
    margin-top: 20px;
}


.search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0;
}

.search input[type="text"] {
    padding: 8px 15px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 300px;
}

.search button[type="submit"] {
    padding: 8px 15px; 
    border: none;
    color: white;
    background-color: #408940;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    white-space: nowrap; 
}

/* ==================================== USER DROPDOWN ==================================== */

.user-menu-wrapper {
    position: relative;
    display: flex; 
    align-items: center;
    margin-right: 20px;
}
#info {
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: transform 0.3s ease-in-out;
}
#info:hover {
    transform: scale(.90);
}
.dropdown-content {
    display: none; 
    position: absolute;
    right: 0; 
    top: 55px; 
    background-color: #ffffff;
    min-width: 140px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
}

.show {
    display: block;
}


/*==================================== PLANS PAGE ======================================================*/

h1{
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 90px;
}
.pp{
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}

.plans{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.plan-card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.plan-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

